<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [7]:
#!pip install sqlalchemy==1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [8]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [9]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [10]:
#!pip install -q pandas==1.1.5

In [11]:
%sql sqlite:///my_data1.db

In [34]:
import pandas as pd
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df = pd.read_csv("Spacex.csv")

In [35]:
df.rename(columns = {'Landing _Outcome':'Landing_outcome'}, inplace = True)

In [37]:
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False)

101

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
For Example "Landing_Outcome"**

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [50]:
%sql select distinct Launch_Site from SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [39]:
%sql select * from SPACEXTBL where Launch_Site like 'CCA%' limit 5

 * sqlite:///my_data1.db
Done.

[('04-06-2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('08-12-2010', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('22-05-2012', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('08-10-2012', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('01-03-2013', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [40]:
%%sql select sum(PAYLOAD_MASS__KG_) as 'Total Payload mass', Customer
from SPACEXTBL where Customer = 'NASA (CRS)' group by Customer

 * sqlite:///my_data1.db
Done.

[(45596, 'NASA (CRS)')]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [41]:
%%sql select avg(PAYLOAD_MASS__KG_) as 'average Payload mass', Booster_Version
from SPACEXTBL where Booster_Version = 'F9 v1.1' group by Booster_Version

 * sqlite:///my_data1.db
Done.

[(2928.4, 'F9 v1.1')]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [51]:
%%sql select min(Date) as 'first success landing', Customer, Landing_Outcome 
from SPACEXTBL where Landing_Outcome = 'Success (ground pad)' group by Customer

 * sqlite:///my_data1.db
Done.

[('03-06-2017', 'NASA (CRS)', 'Success (ground pad)'),
 ('01-05-2017', 'NRO', 'Success (ground pad)'),
 ('08-01-2018', 'Northrop Grumman', 'Success (ground pad)'),
 ('22-12-2015', 'Orbcomm', 'Success (ground pad)'),
 ('07-09-2017', 'U.S. Air Force', 'Success (ground pad)')]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [44]:
%%sql select Booster_Version, Launch_Site, Payload, PAYLOAD_MASS__KG_, Customer, Landing_Outcome 
from SPACEXTBL where Landing_Outcome = 'Success (drone ship)' and PAYLOAD_MASS__KG_ between 4000 and 6000

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022', 'CCAFS LC-40', 'JCSAT-14', 4696, 'SKY Perfect JSAT Group', 'Success (drone ship)'),
 ('F9 FT B1026', 'CCAFS LC-40', 'JCSAT-16', 4600, 'SKY Perfect JSAT Group', 'Success (drone ship)'),
 ('F9 FT  B1021.2', 'KSC LC-39A', 'SES-10', 5300, 'SES', 'Success (drone ship)'),
 ('F9 FT  B1031.2', 'KSC LC-39A', 'SES-11 / EchoStar 105', 5200, 'SES EchoStar', 'Success (drone ship)')]

### Task 7

##### List the total number of successful and failure mission outcomes

In [45]:
%sql select Mission_Outcome, count(*) from SPACEXTBL group by Mission_Outcome

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [46]:
%%sql select a.Booster_Version, a.Customer, a.PAYLOAD_MASS__KG_ from SPACEXTBL a, (select Booster_Version, max(PAYLOAD_MASS__KG_) from SPACEXTBL group by Customer) r
where a.Booster_Version = r.Booster_Version

 * sqlite:///my_data1.db
Done.

[('F9 v1.0  B0004', 'NASA (COTS) NRO', 0),
 ('F9 v1.0  B0005', 'NASA (COTS)', 525),
 ('F9 v1.1  B1003', 'MDA', 500),
 ('F9 v1.1', 'SES', 3170),
 ('F9 v1.1', 'SES', 3170),
 ('F9 v1.1', 'Thaicom', 3325),
 ('F9 v1.1', 'Thaicom', 3325),
 ('F9 v1.1', 'NASA (CRS)', 2296),
 ('F9 v1.1', 'NASA (CRS)', 2296),
 ('F9 v1.1', 'Orbcomm', 1316),
 ('F9 v1.1', 'Orbcomm', 1316),
 ('F9 v1.1', 'AsiaSat', 4535),
 ('F9 v1.1', 'AsiaSat', 4535),
 ('F9 v1.1 B1013', 'U.S. Air Force NASA NOAA', 570),
 ('F9 v1.1 B1014', 'ABS Eutelsat', 4159),
 ('F9 v1.1 B1016', 'Turkmenistan National Space Agency', 4707),
 ('F9 FT B1019', 'Orbcomm', 2034),
 ('F9 v1.1 B1017', 'NASA (LSP) NOAA CNES', 553),
 ('F9 FT B1022', 'SKY Perfect JSAT Group', 4696),
 ('F9 FT B1029.1', 'Iridium Communications', 9600),
 ('F9 FT B1030', 'EchoStar', 5600),
 ('F9 FT B1032.1', 'NRO', 5300),
 ('F9 FT B1034', 'Inmarsat', 6070),
 ('F9 FT  B1029.2', 'Bulsatcom', 3669),
 ('F9 FT B1037', 'Intelsat', 6761),
 ('F9 B4 B1039.1', 'NASA (CRS)', 3310),
 ('F9 FT B1038.1', 'NSPO', 475),
 ('F9 B4 B1040.1', 'U.S. Air Force', 4990),
 ('F9 FT  B1031.2', 'SES EchoStar', 5200),
 ('F9 B4 B1042.1', 'KT Corporation', 3500),
 ('F9 B4 B1043.1', 'Northrop Grumman', 5000),
 ('F9 FT  B1038.2', 'Hisdesat exactEarth SpaceX', 2150),
 ('F9 B4 B1044', 'Hispasat  NovaWurks', 6092),
 ('F9 B4 B1045.1', 'NASA (LSP)', 362),
 ('F9 B5  B1046.1', 'Thales-Alenia/BTRC', 3600),
 ('F9 B4  B1043.2', 'Iridium Communications GFZ ‚ NASA', 6460),
 ('F9 B4  B1040.2', 'SES', 5384),
 ('F9 B5B1047.1', 'Telesat', 7075),
 ('F9 B5 B1046.2', 'Telkom Indonesia', 5800),
 ('F9 B5 B1048.2', 'CONAE', 3000),
 ('F9 B5 B1047.2', 'Es hailSat', 5300),
 ('F9 B5 B1046.3', 'Spaceflight Industries', 4000),
 ('F9 B5B1054', 'USAF', 4400),
 ('F9 B5 B1048.3', 'PSN, SpaceIL / IAI', 4850),
 ('F9 B5B1051.1', 'NASA (CCD) ', 12055),
 ('F9 B5 B1051.2 ', 'Canadian Space Agency (CSA)', 4200),
 ('F9 B5 B1047.3 ', 'Spacecom', 6500),
 ('F9 B5 B1048.4', 'SpaceX', 15600),
 ('F9 B5B1059.1', 'NASA (CRS), Kacific 1', 2617),
 ('F9 B5 B1056.3 ', 'Sky Perfect JSAT, Kacific 1', 6956),
 ('F9 B5 B1046.4', 'NASA (CTS)', 12050),
 ('F9 B5B1058.1 ', 'NASA (CCDev)', 12530),
 ('F9 B5 B1049.5', 'SpaceX, Planet Labs', 15600),
 ('F9 B5B1060.1', 'U.S. Space Force', 4311),
 ('F9 B5 B1058.2 ', 'Republic of Korea Army, Spaceflight Industries (BlackSky)', 5500),
 ('F9 B5 B1051.5', 'SpaceX, Spaceflight Industries (BlackSky), Planet Labs', 14932),
 ('F9 B5 B1049.6', 'SpaceX, Planet Labs, PlanetIQ', 15440),
 ('F9 B5 B1059.4', 'CONAE, PlanetIQ, SpaceX', 3130),
 ('F9 B5B1062.1', 'USSF', 4311),
 ('F9 B5B1061.1 ', 'NASA (CCP)', 12500),
 ('F9 B5B1063.1', 'NASA / NOAA / ESA / EUMETSAT', 1192)]

### Task 9

##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [48]:
%%sql select  substr(Date, 4, 2) as month, Landing_outcome, Booster_Version, Launch_Site,substr(Date,7,4) as year from SPACEXTBL
where Landing_outcome = 'Failure (drone ship)' and substr(Date,7,4)='2015'

 * sqlite:///my_data1.db
Done.

[('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40', '2015'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40', '2015')]

### Task 10

##### Rank the  count of  successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [49]:
%%sql select Date, Landing_outcome, count(*) as count from SPACEXTBL where Date between '04-06-2010' and '20-03-2017'
and Landing_outcome like "Suc%" group by Landing_outcome order by count asc

 * sqlite:///my_data1.db
Done.

[('18-07-2016', 'Success (ground pad)', 6),
 ('08-04-2016', 'Success (drone ship)', 8),
 ('07-08-2018', 'Success', 20)]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>